header nav ul li {
	display: inline-block;
	width: 120px;
	color: #ffffff;
	margin-right: 15px;
}
header nav ul li label {
	display: block;
	width: 70%;
	float: left;
	background: #703;
	padding: 8px;
}
header nav ul li span {
	display: block;
	float: left;
	width: 30%;
	background: #870b06;
	padding: 8px;
}