<aside>
	<nav>
		<h1 class="construction">construction</h1>	
		<ul class="constructions">
			<li>
				<label class="Maison">Maison</label>
			</li>
			<li>
				<label class="mine">Mine</label>
				<ul class="mines">
					<li>
						<label class="Minederoche">Mine de roche</label>
					</li>
					<li>
						<label class="Minedesable">Mine de sable</label>
					</li>
					<li>
						<label class="Minedefer">Mine de fer</label>
					</li>
					<li>
						<label class="Minedeargent">Mine de argent</label>
					</li>
					<li>
						<label class="Minedeuranium">Mine de uranium</label>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</aside>